<div class="terminal">
    <div class="nav-item-offcanvas w-100" style="display: flex; justify-content: space-around; margin-block: 10px;">
        <img style="width: 200px;" src="https://media.tenor.com/Ip3LYNcDTu0AAAAi/valorant-omen.gif"
            alt="error-animation">

    </div>
    <div class="nav-item-offcanvas w-100" style="display: flex; justify-content: space-around; margin-block: 10px;">
        <div class="select-version w-100">
            <h3 style="text-align: center;">
                {{title}}
            </h3>
            <p style="text-align: center;">
                {{subtitle}}
            </p>
        </div>
    </div>
</div>