.terminal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2001;
    transition: height 0.6s;
    background-color: rgba(0, 0, 0, 0.726);
    height: 100% !important;
}
